/**

**/

body {
    
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(../img/Bg.gif);
    background-repeat: repeat;
}

table,th,td {
	
	border: 1px solid silver;
	border-collapse: collapse;
}

tr {
	
	text-align: center;
}


#query_container {
    
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}

.content {
	
	color: #e8edf4;
}

.result_container {
    
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 700px;
    background-color: #445c82;
	overflow-y: auto;
    
}