/**

**/

body {
    
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(../img/Bg.gif);
    background-repeat: repeat;
}


#query_container {
    
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}

body {
    
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(../img/Bg.gif);
    background-repeat: repeat;
}


#query_container {
    
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}

.result_container {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 700px;
    height: 500px;
    background-color: #9bbcf2;
    
}